packages:
  yum:
    git: []

commands:
  01_nvm_install:
    test: '[ ! -f /home/ken_1200/.nvm ] && echo "nvm not installed"'
    command: "git clone https://github.com/creationix/nvm.git ~/.nvm && source ~/.nvm/nvm.sh"
  02_node_install:
    test: '[ ! -f /home/ken_1200/.nvm/versions/node/v15.8.0/bin/node ] && echo "node not installed"'
    command: "nvm install node"
  03_yarn_install:
    command: "npm install yarn -g"
  04_vuecli_install:
    command: "yarn global add @vue/cli@3.12.0"
  05_yarn_install:
    command: "yarn install"
  06_yarn_serve:
    command: "yarn run serve"
